{% extends "admin_dashboard.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses Creation</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div class="card p-3">
        <h3 class="text-dark ms-3 mt-3 text-center">Expenses Creation</h3>
        <hr><br>
        <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="input-group mb-3" style="width:300px;margin-left: -13px;">
                        <input type="text" class="form-control ms-3" placeholder="Search" aria-label="Search"
                            aria-describedby="search-button" id="searchInput">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mt-">
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addexpensesModal"
                        style="font-weight: bold;margin-left: -40px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-plus"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>Add Expenses
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="mt-auto">
            <form action="#" method="post" enctype="multipart/form-data">
                <table id="myTable" class="table bg-light table-bordered mt-2">
                    <thead class="bg-primary text-center">
                        <tr>
                            <th scope="col" style="color: black;font-weight: bold;">Sl No.</th>
                            <th scope="col" style="color: black;font-weight: bold;">Batch No.</th>
                            <th scope="col" style="color: black;font-weight: bold;">Supplier Name</th>
                            <th scope="col" style="color: black;font-weight: bold;">Item</th>
                            <th scope="col" style="color: black;font-weight: bold;">Company</th>
                            <th scope="col" style="color: black;font-weight: bold;">Category</th>
                            <th scope="col" style="color: black;font-weight: bold;">created_date</th>
                            <th scope="col" style="color: black;font-weight: bold;">Expairy Date</th>
                            <th scope="col" style="color: black;font-weight: bold;">Action</th>
                        </tr>
                    </thead>

                    <tbody class="bg-light">
                        {% for expense in expenses %}
                            <tr class="text-dark text-center">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ expense.batch_number }}</td>
                                <td>{{ expense.supplier.company_name }}</td>
                                <td>{{ expense.item }}</td>
                                <td>{{ expense.company }}</td>
                                <td>{{ expense.get_category_display }}</td>
                                <td>{{ expense.created_date }}</td>
                                <td>{{ expense.expiry_date }}</td>
                            <td>
                                <a href="{% url 'update-expense' expense.id %}" class="text-capitalize btn btn-sm bg-dark"><svg xmlns="http://www.w3.org/2000/svg"
                                        width="18" height="18" fill="white" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path
                                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                    </svg></a>
                                    <a href="#" class="text-capitalize btn btn-sm bg-danger" onclick="confirmDelete('{{ expense.id }}')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                        </svg>
                                    </a>
                                    
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                
            </form>

            <script>
                // Search Bar js
                var input = document.getElementById("searchInput");
                var table = document.getElementById("myTable");
                var rows = table.getElementsByTagName("tr");

                input.addEventListener("input", function () {
                    var filter = input.value.toLowerCase();

                    for (var i = 1; i < rows.length; i++) {
                        var rowData = rows[i].getElementsByTagName("td");
                        var found = false;

                        for (var j = 0; j < rowData.length; j++) {
                            var cell = rowData[j];
                            if (cell.innerHTML.toLowerCase().indexOf(filter) > -1) {
                                found = true;
                                break;
                            }
                        }

                        if (found) {
                            rows[i].style.display = "";
                        } else {
                            rows[i].style.display = "none";
                        }
                    }
                });
            </script>
            <script>
                function confirmDelete(expenseId) {
                    event.preventDefault(); // Prevent the default click event
            
                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'You are about to delete this expense. This action cannot be undone.',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it',
                        cancelButtonText: 'No, cancel',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // If "Yes" is clicked, perform the delete using a POST request
                            fetch(`/delete_expense/${expenseId}/`, {
                                method: 'POST',
                                headers: {
                                    'X-CSRFToken': getCookie('csrftoken'), // Include CSRF token
                                    'Content-Type': 'application/json', // Add content type header
                                },
                                body: JSON.stringify({ id: expenseId }), // Include data if necessary
                            })
                            .then(response => {
                                if (response.ok) {
                                    // Success: refresh the page after successful deletion
                                    window.location.reload();
                                } else {
                                    console.error('Error:', response.statusText);
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        }
                    });
                }
            
                // Function to retrieve CSRF token from cookies
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
            </script>
        </div>
    </div>

   <!-- Modal for Add Expenses -->
<div class="modal fade" id="addexpensesModal" tabindex="-1" aria-labelledby="addexpensesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addexpensesModalLabel">Add Expenses</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'add_expenses' %}" onsubmit="showSuccessAlert(event)">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Batch No. -->
                            <div class="mb-3">
                                <label for="batch_number" class="form-label">Batch No.</label>
                                <input type="text" class="form-control" id="batch_number" name="batch_number" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Supplier Name  -->
                            <div class="mb-3">
                                <label for="supplier_name" class="form-label">Supplier Name</label>
                                <select class="form-select" id="supplier_name" name="supplier_name" required>
                                    <option selected disabled>Select Supplier</option>
                                    {% for supplier in suppliers %}
                                        <option value="{{ supplier.company_name }}">{{ supplier.company_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Item -->
                            <div class="mb-3">
                                <label for="item" class="form-label">Item</label>
                                <input type="text" class="form-control" id="item" name="item" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Actual Stock-->
                            <div class="mb-3">
                                <label for="amount" class="form-label">Amount</label>
                                <input type="text" class="form-control" id="amount" name="amount" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Category -->
                            <div class="mb-3">
                                <label for="category" class="form-label">Category</label>
                                <select class="form-select" id="category" name="category" required>
                                    <option selected disabled>Select Category</option>
                                    <option value="Stationary">Stationary</option>
                                    <option value="Fuel">Fuel</option>
                                    <!-- Add other options as needed -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Company -->
                            <div class="mb-3">
                                <label for="company" class="form-label">Company</label>
                                <input type="text" class="form-control" id="company" name="company" required>
                            </div>
                
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Stock Quantity-->
                            <div class="mb-3">
                                <label for="created_date" class="form-label">Created Date</label>
                                <input type="date" class="form-control" id="created_date" name="created_date" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Expiry Date-->
                            <div class="mb-3">
                                <label for="expiry_date" class="form-label">Expiry Date</label>
                                <input type="date" class="form-control" id="expiry_date" name="expiry_date" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="border-radius: 4px;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function showSuccessAlert(e) {
        e.preventDefault(); // Prevent the default form submission behavior

        Swal.fire({
            title: 'Success',
            text: 'Expenses added successfully',
            icon: 'success',
            confirmButtonText: 'OK'
        }).then((result) => {
            if (result.isConfirmed) {
                // Manually submit the form
                e.target.submit();

                // You can add a redirection or any other action here if needed.
            }
        });
    }
</script>
   

    <!-- Modal for Edit Expense -->
    <div class="modal fade" id="editexpensesModal" tabindex="-1" aria-labelledby="editexpensesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editexpensesModalLabel">Edit Expenses</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Batch No. -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Batch No.</label>
                                    <input type="text" class="form-control" id="" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Supplier Name  -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Supplier Name</label>
                                    <input type="text" class="form-control" id="" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Item -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Item</label>
                                    <input type="email" class="form-control" id="" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Company -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Company</label>
                                    <input type="text" class="form-control" id="" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Stock Quantity-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Stock Quantity</label>
                                    <input type="text" class="form-control" id="" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Actual Stock-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Actual Stock</label>
                                    <input type="text" class="form-control" id="" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Expairy Date-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Expairy Date</label>
                                    <input type="date" class="form-control" id="" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success" style="border-radius: 4px;">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock content %}