{% extends "admin_dashboard.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body>
    <div class="card p-3">
        <h3 class="text-dark mt-3 text-center">Employee List</h3>
        <hr><br>
        <div class="mt-auto">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="table-responsive">
                    <table id="myTable" class="table bg-light table-bordered mt-2">
                        <thead class="bg-primary text-center">
                            <tr>
                                <th scope="col" style="color: black; font-weight: bold;">#</th>
                                <th scope="col" style="color: black; font-weight: bold;">Employee</th>
                                <th scope="col" style="color: black; font-weight: bold;">Email</th>
                                <th scope="col" style="color: black; font-weight: bold;">Phone</th>
                                <th scope="col" style="color: black; font-weight: bold;">Designation</th>
                                <th scope="col" style="color: black; font-weight: bold;">Date Of Joining</th>
                                <th scope="col" style="color: black; font-weight: bold;">Salary</th>
                                <th scope="col" style="color: black; font-weight: bold;">Action</th>
                            </tr>
                        </thead>

                        <tbody class="bg-light">
                            {% for employee in employees %}
                            <tr class="text-dark text-center">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ employee.full_name }}</td>
                                <td>{{ employee.email }}</td>
                                <td>{{ employee.phone }}</td>
                                <td>{{ employee.designation.designation_name }}</td>
                                <td>{{ employee.joining_date }}</td>
                                <td>
                                    {% for salary_data in employee_salaries %}
                                        {% if salary_data.employee_ref == employee.id %}
                                            {{ salary_data.n_pay }}  <!-- Display the net salary here -->
                                        {% endif %}
                                    {% empty %}
                                    No salary available
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="/employee/{{ employee.id }}" class="text-capitalize btn btn-sm bg-dark">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="18" height="18" fill="white" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.830 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </form>
        </div>
    </div>
    </div>

    <!-- Modal for View Employee -->
    <div class="modal fade" id="viewemployeeModal" tabindex="-1" aria-labelledby="viewemployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewemployeeModalLabel">View Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="employee-form">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Full Name -->
                                <div class="mb-3">
                                    <label for="fullName" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" id="fullName" name="full_name" disabled value="{{ employee.full_name }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Email -->
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" disabled value="{{ employee.email }}">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Phone -->
                                <div class="mb-3">
                                    <label for="phone" class="form-label">Phone</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" disabled pattern="^\d{10,}$" title="Please enter at least 10 numeric characters" value="{{ employee.phone }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Date of Birth -->
                                <div class="mb-3">
                                    <label for="dob" class="form-label">Date of Birth</label>
                                    <input type="text" class="form-control" id="dob" name="dob" disabled value="{{ employee.date_of_birth }}">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Gender -->
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <input type="text" class="form-control" id="gender" name="gender" disabled value="{{ employee.gender }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Company -->
                                <div class="mb-3">
                                    <label for="company" class="form-label">Company</label>
                                    <input type="text" class="form-control" id="company" name="company" disabled value="{{ employee.company_name }}">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Department -->
                                <div class="mb-3">
                                    <label for="department" class="form-label">Department</label>
                                    <input type="text" class="form-control" id="department" name="department" disabled value="{{ employee.department }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Designation -->
                                <div class="mb-3">
                                    <label for="designation" class="form-label">Designation</label>
                                    <input type="text" class="form-control" id="designation" name="designation" disabled value="{{ employee.designation.designation_name }}">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Office Shift -->
                                <div class="mb-3">
                                    <label for="officeShift" class="form-label">Office Shift</label>
                                    <input type="text" class="form-control" id="officeShift" name="office_shift" disabled value="{{ employee.office_shift }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- User Name -->
                                <div class="mb-3">
                                    <label for="userName" class="form-label">User Name</label>
                                    <input type="text" class="form-control" id="userName" name="user_name" disabled value="{{ employee.user_name }}">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Role -->
                                <div class="mb-3">
                                    <label for="role" class="form-label">Role</label>
                                    <input type="text" class="form-control" id="role" name="role" disabled value="{{ employee.role }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Attendance Type -->
                                <div class="mb-3">
                                    <label for="attendanceType" class="form-label">Attendance Type</label>
                                    <input type="text" class="form-control" id="attendanceType" name="attendance_type" disabled value="{{ employee.attendance_type }}">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Date of Joining -->
                                <div class="mb-3">
                                    <label for="joiningDate" class="form-label">Date of Joining</label>
                                    <input type="text" class="form-control" id="joiningDate" name="joining_date" disabled value="{{ employee.joining_date }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- User Image -->
                                <div class="mb-3">
                                    <label for="userImage" class="form-label">User Image</label><br>
                                    <img src="{{ employee.user_image.url }}" alt="Not found" srcset="" id="userImage" name="user_image">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>
{% endblock content %}