{% extends "admin_dashboard.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business MIS</title>

</head>

<body>
    <div class="card p-3 shadow-md bg-light">
        <h3 class="text-dark mt-1 text-center">Business MIS</h3>
        <hr><br>
        <!-- <div class="row">
            <div class="col-md-4">
                <div class="container">
                    <div class="input-group mb-3" style="width:300px;margin-left: -13px;">
                        <input type="text" class="form-control ms-3" placeholder="Search" aria-label="Search"
                            aria-describedby="search-button" id="searchInput">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mt-">
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addbusinessModal"
                        style="font-weight: bold;margin-left: -40px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-plus"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>Add Business MIS
                    </a>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="searchInput" placeholder="Search..."
                            aria-label="Search" aria-describedby="search-button">
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#addbusinessModal">Add Business MIS</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="mt-auto">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="table-responsive">
                    <table id="myTable" class="table bg-light table-bordered mt-2">
                        <thead class="bg-primary text-center">
                            <tr>
                                <!-- <th scope="col" style="color: black;font-weight: bold;">#</th> -->
                                <th scope="col" style="color: black;font-weight: bold;">Id</th>
                                <th scope="col" style="color: black;font-weight: bold;">Client Name</th>
                                <th scope="col" style="color: black;font-weight: bold;">Client Mobile No</th>
                                <th scope="col" style="color: black;font-weight: bold;">Business Description</th>
                                <th scope="col" style="color: black;font-weight: bold;">Action</th>
                            </tr>
                        </thead>

                        <tbody class="bg-light">
                            <tr class="text-dark text-center">
                                <!-- <th scope="row">1</th> -->
                                <td></td>
                                <td>

                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="#" class="text-capitalize btn btn-sm bg-warning mt-1" data-bs-toggle="modal"
                                        data-bs-target="#viewbusinessModal"><svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16" fill="black" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path
                                                d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg></a>
                                    <a href="#" class="text-capitalize btn btn-sm bg-dark mt-1" data-bs-toggle="modal"
                                        data-bs-target="#editbusinessModal"><svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16" fill="white" class="bi bi-pencil"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg></a>
                                    <a href="#" class="text-capitalize btn btn-sm bg-danger mt-1"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                            class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                            <path
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                        </svg></a>
                                    <button type="button" class="btn btn-success btn-sm mt-1">Approve</button>
                                    <button type="button" class="btn btn-danger btn-sm mt-1">Reject</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </form>

            <script>
                // Search Bar js
                var input = document.getElementById("searchInput");
                var table = document.getElementById("myTable");
                var rows = table.getElementsByTagName("tr");

                input.addEventListener("input", function () {
                    var filter = input.value.toLowerCase();

                    for (var i = 1; i < rows.length; i++) {
                        var rowData = rows[i].getElementsByTagName("td");
                        var found = false;

                        for (var j = 0; j < rowData.length; j++) {
                            var cell = rowData[j];
                            if (cell.innerHTML.toLowerCase().indexOf(filter) > -1) {
                                found = true;
                                break;
                            }
                        }

                        if (found) {
                            rows[i].style.display = "";
                        } else {
                            rows[i].style.display = "none";
                        }
                    }
                });
            </script>
        </div>
    </div>

    <!-- Modal for Add Business MIS -->
    <div class="modal fade" id="addbusinessModal" tabindex="-1" aria-labelledby="addbusinessModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addbusinessModalLabel">Add Business MIS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- ID -->
                                <div class="mb-3">
                                    <label for="" class="form-label">ID</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Product Type -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Product Type</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Product Name -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Product Name</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Product Amount -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Product Amount</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Client Name-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Client Name</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Client Email ID-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Client Email ID</label>
                                    <input type="email" id="clockOut" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Client Mobile No-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Client Mobile No</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Business Description-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Business Description</label>
                                    <textarea class="form-control" id="" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Tenure Years-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Tenure Years</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" style="border-radius: 4px;">Send Query</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for View Business MIS -->
    <div class="modal fade" id="viewbusinessModal" tabindex="-1" aria-labelledby="viewbusinessModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewbusinessModalLabel">View Business MIS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- ID -->
                                <div class="mb-3">
                                    <label for="" class="form-label">ID</label>
                                    <input type="text" id="" class="form-control" disabled>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Product Type -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Product Type</label>
                                    <input type="text" id="" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Product Name -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Product Name</label>
                                    <input type="text" id="" class="form-control" disabled>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Product Amount -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Product Amount</label>
                                    <input type="text" id="" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Client Name-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Client Name</label>
                                    <input type="text" id="" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Client Email ID-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Client Email ID</label>
                                    <input type="email" id="clockOut" class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Client Mobile No-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Client Mobile No</label>
                                    <input type="text" id="" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Query Description-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Query Description</label>
                                    <textarea class="form-control" id="" disabled></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Tenure Years-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Tenure Years</label>
                                    <input type="text" id="" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Edit Business MIS -->
    <div class="modal fade" id="editbusinessModal" tabindex="-1" aria-labelledby="editbusinessModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editbusinessModalLabel">Edit Business MIS</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- ID -->
                                <div class="mb-3">
                                    <label for="" class="form-label">ID</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Product Type -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Product Type</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Product Name -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Product Name</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <!-- Product Amount -->
                                <div class="mb-3">
                                    <label for="" class="form-label">Product Amount</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Client Name-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Client Name</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Client Email ID-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Client Email ID</label>
                                    <input type="email" id="clockOut" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Client Mobile No-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Client Mobile No</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Query Description-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Query Description</label>
                                    <textarea class="form-control" id="" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- Query Status-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Query Status</label>
                                    <input type="text" id="" class="form-control" required>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success" style="border-radius: 4px;">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock content %}