{% extends "admin_dashboard.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Staff</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div class="card p-3 bg-light">
        <h3 class="text-dark ms-3 mt-3 text-center">Manage Staff</h3>
        <hr><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control ms-3" placeholder="Search" aria-label="Search"
                                aria-describedby="search-button" id="searchInput">
                        </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mt-auto">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="table-responsive">
                    <table id="myTable" class="table bg-light table-bordered mt-2">
                        <thead class="bg-primary text-center">
                            <tr>
                               
                                <th scope="col" style="color: black;font-weight: bold;">Employee Id</th>
                                <th scope="col" style="color: black;font-weight: bold;">Employee Name</th>
                                <th scope="col" style="color: black;font-weight: bold;">Company Name</th>
                                <th scope="col" style="color: black;font-weight: bold;">Desigination</th>
                                <th scope="col" style="color: black;font-weight: bold;">Joining Date</th>
                                <th scope="col" style="color: black;font-weight: bold;">Net pay</th>
                                <th scope="col" style="color: black;font-weight: bold;">Action</th>
                            </tr>
                        </thead>
    
                        <tbody class="bg-light">
                            {% for employee in employees %}
                                <tr class="text-dark text-center">
                                    <td>APK.E.ID {{ employee.id }}</td>
                                    <td>{{ employee.full_name }}</td>
                                    <td>{{ employee.company.company_name }}</td>
                                    <td>{{ employee.designation.designation_name }}</td>
                                    <td>{{ employee.joining_date }}</td>
                                    <td>
                                        {{ employee.n_pay }}
                                    </td>
                                    <td>
                                        <a href="{% url 'view_staff' employee.id %}" class="text-capitalize btn btn-sm bg-success mt-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                            </svg>
                                        </a>
                                    <a href="{% url 'edit_staff' employee.id %}" class="text-capitalize btn btn-sm bg-dark mt-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="18" fill="white" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path
                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg></a>
                                        <a href="{% url 'delete_staff' employee.id %}" class="text-capitalize btn btn-sm bg-danger mt-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                            </svg>
                                        </a>
                                        
                                </td>
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if employees.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ employees.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                
                        <li class="page-item disabled">
                            <span class="page-link">Page {{ employees.number }} of {{ employees.paginator.num_pages }}</span>
                        </li>
                
                        {% if employees.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ employees.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ employees.paginator.num_pages }}">Last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </form>
                
            <script>
                // Search Bar js
                var input = document.getElementById("searchInput");
                var table = document.getElementById("myTable");
                var rows = table.getElementsByTagName("tr");

                input.addEventListener("input", function () {
                    var filter = input.value.toLowerCase();

                    for (var i = 1; i < rows.length; i++) {
                        var rowData = rows[i].getElementsByTagName("td");
                        var found = false;

                        for (var j = 0; j < rowData.length; j++) {
                            var cell = rowData[j];
                            if (cell.innerHTML.toLowerCase().indexOf(filter) > -1) {
                                found = true;
                                break;
                            }
                        }

                        if (found) {
                            rows[i].style.display = "";
                        } else {
                            rows[i].style.display = "none";
                        }
                    }
                });
            </script>
        </div>
    </div>

</html>
{% endblock content %}