{% extends "admin_dashboard.html" %}

{% block content %}
<div class="update-leave-request shadow-lg p-3">
    <h1 class="page-title text-center">Update Leave</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="company" class="mt-2">Company:</label>
                    <select name="company" class="form-control shadow-lg" id="company">
                        {% for company in companies %}
                            <option value="{{ company.id }}" {% if company.id == leave_request.company.id %}selected{% endif %}>
                                {{ company.company_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="department" class="mt-2">Department:</label>
                    <select name="department" class="form-control shadow-lg" id="department">
                        {% for department in departments %}
                            <option value="{{ department.id }}" {% if department.id == leave_request.department.id %}selected{% endif %}>
                                {{ department.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="start_date" class="mt-2">Start Date:</label>
                    <input type="date" name="start_date" class="form-control shadow-lg" id="start_date" value="{{ leave_request.start_date|date:'Y-m-d' }}">
                </div>
        
                <div class="form-group">
                    <label for="finish_date" class="mt-2">Finish Date:</label>
                    <input type="date" name="finish_date" class="form-control shadow-lg" id="finish_date" value="{{ leave_request.finish_date|date:'Y-m-d' }}">
                </div>

                <div class="form-group">
                    <label for="leave_reason" class="mt-2">Leave Reason:</label>
                    <textarea name="leave_reason" class="form-control shadow-lg" id="leave_reason">{{ leave_request.leave_reason }}</textarea>
                </div>
        
                
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="employee" class="mt-2">Employee:</label>
                    <select name="employee" class="form-control shadow-lg" id="employee">
                        {% for employee in employees %}
                            <option value="{{ employee.id }}" {% if employee.id == leave_request.employee.id %}selected{% endif %}>
                                {{ employee.full_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="form-group">
                    <label for="leave_type" class="mt-2">Leave Type:</label>
                    <select name="leave_type" class="form-control shadow-lg" id="leave_type">
                        {% for leave_type in leave_types %}
                            <option value="{{ leave_type.id }}" {% if leave_type.id == leave_request.leave_type.id %}selected{% endif %}>
                                {{ leave_type.leave_type_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="attachment" class="mt-4">Current Attachment:</label>
                    <p>{{ leave_request.attachment }}</p>
                </div>
                
                <div class="form-group">
                    <label for="new_attachment" class="">New Attachment (optional):</label>
                    <input type="file" name="attachment" class="form-control shadow-lg" id="new_attachment">
                </div>
                
                <div class="form-group">
                    <label for="status" class="mt-2">Status:</label>
                    <select name="status" class="form-control shadow-lg" id="status">
                        <option value="approved" {% if leave_request.status == 'approved' %}selected{% endif %}>Approved</option>
                        <option value="pending" {% if leave_request.status == 'pending' %}selected{% endif %}>Pending</option>
                        <option value="rejected" {% if leave_request.status == 'rejected' %}selected{% endif %}>Rejected</option>
                    </select>
                </div>
                
        
                
            </div>
        </div>
               
        
        <button type="submit" class="btn btn-primary mt-2">Update</button>
        <a href="{% url 'manage_leave_mis' %}" class="btn btn-success mt-2" >Back</a>
    </form>
</div>
</div>
{% endblock %}
