{% extends "admin_dashboard.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Query Management</title>

</head>

<body>
    <div class="card p-3 shadow-md bg-light">
        <h3 class="text-dark mt-1 text-center">View Query Management</h3>
        <hr><br>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <!-- ID -->
                    <div class="mb-3">
                        <label for="" class="form-label">Query ID</label>
                        <input type="text" id="" class="form-control" value="APKQ_1" readonly>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Product Type -->
                    <div class="mb-3">
                        <label for="" class="form-label">Product Type</label>
                        <select class="form-select" aria-label="Default select example"
                            id="productTypeSelect" readonly>
                            <option selected disabled>Select Product Pype</option>
                            <option value="NPS">NPS</option>
                            <!-- <option value="3">Three</option> -->
                        </select>
                    </div>
                </div>
            </div>
            <!-- Form sections for NPS and Mutual Funds -->
            <div id="npsForm" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">NPS Form</h3>
                    <hr>
                    <div class="row">
                        <!-- Invester Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Invester Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Date Of Birth -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Date Of Birth</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Mobile -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Mobile</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- ASP Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">ASP Name</label><br>
                            <!-- <input class="form-check-input mt-2" type="checkbox"  id="showAdditionalForm" readonly> -->
                            <select class="form-control" id="aspTypeSelect">
                                <option disabled selected value="none">_Select_</option>
                                <option value="Select ASP Name">Select ASP Name</option>
                            </select>
                        </div>
                        <!-- Nominee Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Nominee Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
                <div id="additionalForm" style="display: none;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">
                                    Aditya Birla Sun Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox2">
                                <label class="form-check-label" for="checkbox2">
                                    Canara HSBC Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox3">
                                <label class="form-check-label" for="checkbox2">
                                    Canara HSBC Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox3">
                                <label class="form-check-label" for="checkbox2">
                                    IndiaFirst Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">
                                    Life Insurance Corporation Of India
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox2">
                                <label class="form-check-label" for="checkbox2">
                                    Pnb Metlife India Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox3">
                                <label class="form-check-label" for="checkbox2">
                                    Star Union Dai-ichi Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox3">
                                <label class="form-check-label" for="checkbox2">
                                    Bajaj Allianz Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">
                                    Edelweiss Tokio Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox2">
                                <label class="form-check-label" for="checkbox2">
                                    ICIC Prudential Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox3">
                                <label class="form-check-label" for="checkbox2">
                                    Kotak Mahindra Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox3">
                                <label class="form-check-label" for="checkbox2">
                                    Max Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox1">
                                <label class="form-check-label" for="checkbox1">
                                    SBI Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkbox2">
                                <label class="form-check-label" for="checkbox2">
                                    TATA AIA Life Insurance Co. Ltd
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Repeat the above form-check structure for the remaining checkboxes -->
                </div>
            </div>

            <div id="mutualFundsForm" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">Mutual Funds Form</h3>
                    <hr>
                    <div class="row">
                        <!-- Invester Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Invester Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Date Of Birth -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Date Of Birth</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Mobile -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Mobile</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Select Category -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Select Category</label><br>
                            <!-- <input class="form-check-input mt-2" type="checkbox"  id="showAdditionalForm" readonly> -->
                            <select class="form-control" id="">
                                <option disabled selected>Select Category</option>
                                <option value="Equity">Equity</option>
                                <option value="Debt">Debt</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                        </div>
                        <!-- Enter Scheme Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Enter Scheme Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Nominee Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Nominee Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div id="fixed_deposit" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">Fixed Deposit</h3>
                    <hr>
                    <div class="row">
                        <!-- Invester Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Invester Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Date Of Birth -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Date Of Birth</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Mobile -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Mobile</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Select Tenure -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Select Tenure</label><br>
                            <!-- <input class="form-check-input mt-2" type="checkbox"  id="showAdditionalForm" readonly> -->
                            <select class="form-control" id="">
                                <option disabled selected>Select Tenure</option>
                                <option value="monthly">monthly</option>
                                <option value="Quarterly">Quarterly</option>
                                <option value="Half-yearly">Half-yearly</option>
                            </select>
                        </div>
                        <!-- Enter Company Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Enter Company Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Enter ROI -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Enter ROI</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Select Tenure -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Select Tenure</label><br>
                            <!-- <input class="form-check-input mt-2" type="checkbox"  id="showAdditionalForm" readonly> -->
                            <select class="form-control" id="">
                                <option disabled selected>Select Tenure</option>
                                <option value="Anually">Anually</option>
                                <option value="Cummucative">Cummucative</option>
                            </select>
                        </div>
                        <!-- Nominee Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Nominee Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div id="life_insurance" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">Life Insurance</h3>
                    <hr>
                    <div class="row">
                        <!-- Proposer Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Proposer Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Proposer D.O.B -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Proposer D.O.B</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Proposer PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Proposer PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Life Assured Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Life Assured Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Life Assured D.O.B -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Life Assured D.O.B</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Life Assured PAN -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Life Assured PAN</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Life Assured an No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Life Assured an No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Mobile No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Mobile No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Company name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Company name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Plan name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Plan name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- PPT -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PPT</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- PT -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PT</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Nominee Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Nominee Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Premium Frequency -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Premium Frequency</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div id="health_insurance" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">Health Insurance</h3>
                    <hr>
                    <div class="row">
                        <!-- Policy Holder Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Policy Holder Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Proposer D.O.B -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Proposer D.O.B</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Proposer PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Proposer PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- mobile -->
                        <div class="col-md-3">
                            <label for="" class="form-label">mobile</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Company Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Company Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Plan -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Plan</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Frequency -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Frequency</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Nominee Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Nominee Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div id="general_insurance" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">General Insurance</h3>
                    <hr>
                    <div class="row">
                        <!-- Invester Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Invester Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Date Of Birth -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Date Of Birth</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Mobile -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Mobile</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Category -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Category</label><br>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Company Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Company Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Frequency -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Frequency</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Nominee -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Nominee</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label><br>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pms" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">PMS Form</h3>
                    <hr>
                    <div class="row">
                        <!-- Invester Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Invester Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Date Of Birth -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Date Of Birth</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Mobile -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Mobile</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div id="bonds" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">Bonds Form</h3>
                    <hr>
                    <div class="row">
                        <!-- Invester Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Invester Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Date Of Birth -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Date Of Birth</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Mobile -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Mobile</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Company Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Company Name</label><br>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Enter Scheme Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Enter Scheme Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Nominee Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Nominee Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- ROI -->
                        <div class="col-md-3">
                            <label for="" class="form-label">ROI</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Frequency -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Frequency /label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div id="sccs" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">SCCS Form</h3>
                    <hr>
                    <div class="row">
                        <!-- Invester Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Invester Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Date Of Birth -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Date Of Birth</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Mobile -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Mobile</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div id="post_office_deposit" class="mt-2" style="display: none;">
                <div class="card p-3 bg-light">
                    <h3 class="text-center">SCCS Form</h3>
                    <hr>
                    <div class="row">
                        <!-- Invester Name -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Invester Name</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- PAN No. -->
                        <div class="col-md-3">
                            <label for="" class="form-label">PAN No.</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Date Of Birth -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Date Of Birth</label>
                            <input type="date" id="" class="form-control" readonly>
                        </div>
                        <!-- Email -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Email</label>
                            <input type="email" id="" class="form-control" readonly>
                        </div>
                    </div><br>
                    <div class="row">
                        <!-- Mobile -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Mobile</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                        <!-- Amount -->
                        <div class="col-md-3">
                            <label for="" class="form-label">Amount</label>
                            <input type="text" id="" class="form-control" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </form>
       
    </div>
    <script>
        // Handle the select change event
        document.getElementById("productTypeSelect").addEventListener("change", function () {
            var selectedOption = this.value;

            var npsForm = document.getElementById("npsForm");
            var mutualFundsForm = document.getElementById("mutualFundsForm");

            if (selectedOption === "NPS") {
                npsForm.style.display = "block";
                mutualFundsForm.style.display = "none";
            } else if (selectedOption === "Mutual Funds") {
                mutualFundsForm.style.display = "block";
                npsForm.style.display = "none";
            } else {
                npsForm.style.display = "none";
                mutualFundsForm.style.display = "none";
            }

            var fixed_deposit = document.getElementById("fixed_deposit");
            var life_insurance = document.getElementById("life_insurance");

            if (selectedOption === "Fixed Deposit") {
                fixed_deposit.style.display = "block";
                life_insurance.style.display = "none";
            } else if (selectedOption === "Lie Insurance") {
                life_insurance.style.display = "block";
                fixed_deposit.style.display = "none";
            } else {
                fixed_deposit.style.display = "none";
                life_insurance.style.display = "none";
            }

            var health_insurance = document.getElementById("health_insurance");
            var general_insurance = document.getElementById("general_insurance");

            if (selectedOption === "Health Insurance") {
                health_insurance.style.display = "block";
                general_insurance.style.display = "none";
            } else if (selectedOption === "General Insurance") {
                general_insurance.style.display = "block";
                health_insurance.style.display = "none";
            } else {
                health_insurance.style.display = "none";
                general_insurance.style.display = "none";
            }

            var pms = document.getElementById("pms");
            var bonds = document.getElementById("bonds");

            if (selectedOption === "PMS") {
                pms.style.display = "block";
                bonds.style.display = "none";
            } else if (selectedOption === "Bonds") {
                bonds.style.display = "block";
                pms.style.display = "none";
            } else {
                pms.style.display = "none";
                bonds.style.display = "none";
            }

            var sccs = document.getElementById("sccs");
            var post_office_deposit = document.getElementById("post_office_deposit");

            if (selectedOption === "SCSS") {
                sccs.style.display = "block";
                post_office_deposit.style.display = "none";
            } else if (selectedOption === "Post Office Deposit") {
                post_office_deposit.style.display = "block";
                sccs.style.display = "none";
            } else {
                sccs.style.display = "none";
                post_office_deposit.style.display = "none";
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#aspTypeSelect').change(function () {
                var selectedValue = $(this).val();
                if (selectedValue === "none") {
                    $('#additionalForm').hide();
                } else {
                    $('#additionalForm').show();
                }
            });
        });
    </script>
   

    
</body>

</html>
{% endblock content %}