{% extends "admin_dashboard.html" %}

{% block content %}
  <style>
   
    /* Add error styles */
    .error-message {
      color: red;
      display: none;
    }

    
  </style>

  <div class="card p-3 mt-5">
    <!-- <h1 class="form-title text-center">Add Holiday</h1>
    <hr> -->
    <h3 class="text-dark ms-3 mt-3 text-center">Add Holiday</h3>
   <hr>
    <form method="post" class="holiday-form" onsubmit="return validateTitle()">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <label for="company">Company:</label>
          <select name="company" id="company" class="form-control shadow-lg" required>
              {% for company in companies %}
                  <option value="{{ company.id }}">{{ company.company_name }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label for="title" class="mt-2">Title:</label>
          <input type="text" name="title" id="title" value="{{ title }}" class="form-control shadow-lg" required>
          <div class="error-message" id="title-error">Please enter a valid title (only alphabets and spaces).</div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
            <label for="start_date" class="mt-2">Start Date:</label>
            <input type="date" name="start_date" id="start_date" value="{{ start_date }}" class="form-control shadow-lg" required>
          </div>
          <div class="col-md-6">
            <label for="finish_date" class="mt-2">Finish Date:</label>
            <input type="date" name="finish_date" id="finish_date" value="{{ finish_date }}" class="form-control shadow-lg" required>
          </div>
      </div>
      <div class="button-group">
        <button type="submit" class="btn btn-primary mt-3">{{ submit_text }} Submit</button>
        <a href="{% url 'holiday_list' %}" class="btn btn-dark mt-3">Cancel</a>
      </div>
    </form>
  </div>

  <script>
    function validateTitle() {
      var title = document.getElementById('title').value;
      var titleRegex = /^[A-Za-z\s]+$/; // Regex to allow only alphabets and spaces

      if (!titleRegex.test(title)) {
        document.getElementById('title-error').style.display = 'block';
        return false; // Prevent form submission
      } else {
        document.getElementById('title-error').style.display = 'none';
        return true; // Allow form submission
      }
    }
  </script>
{% endblock %}
